{% extends "base.html" %}
{% load static  i18n%}

{% block title %}{% trans "User" %}: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.first_name %}
        <p>{{ object.first_name }}</p>
      {% endif %}
      {% if object.last_name %}
        <p>{{ object.last_name }}</p>
      {% endif %}
        <p>{{ object.email }}</p>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% trans "My Info" %}</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
